<ion-header>
  <ion-navbar [color]="isRecording ? 'danger' : 'primary'">
    <ion-title>
      Listen to Me
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button full (click)="getPermission()">Aceitar Permissao</button>
  <button ion-button full (click)="startListening()">Clike aqui e fale.</button>
  <button ion-button full (click)="stopListening()" *ngIf="isIos()">Stop Listening</button>

  <ion-card>
    <ion-card-header>Você disse...</ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let match of matches">
          {{ match }}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  
  <ion-option *ngFor="let p of parcelamentosArray" [value]="p.type" [selected]="p[0]" > {{ p.value}}  </ion-option>

  <ion-item>
    <ion-label color="primary" stacked>Stacked Label</ion-label>
    <ion-input [(ngModel)]="matches" type="text" value="{{ matches }}"></ion-input>
  </ion-item>

</ion-content>